.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #ffffff;
  padding: 20px;
  width: 300px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
