.topbar {
  width: 100%;
  height: 70px;
  padding: 0 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #0e0e0e;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  margin-bottom: 15px;
}
.topbar-title {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

.topbar-actions {
  display: flex;
  gap: 12px;
}

.lang-btn,
.logout-btn {
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 500;

  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;

  border: none;
  border-radius: 6px;

  cursor: pointer;
  transition: 0.2s ease;
}

.lang-btn:hover,
.logout-btn:hover {
  background: rgba(255, 255, 255, 0.18);
}
